.margin-padding {
    width: 400px;
    height: 200px;
    border: 1px solid #000;
    margin: 28px;
    padding: 20px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 0 20px 0 20px;
}

/*  =========
    Table CSS
*/  =========

table, td, tr {
    border: 1px solid #000;
    border-collapse: collapse;
}

td {
    padding: 10px 20px;
    text-align: center;
}
