.single-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image img {
    width: 254px;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: #444;
    border-radius: 50%;
    color: #fff;
    position: relative;
}

.date {
    position: absolute;
    left: 70px;
    top: 70px;
    font-size: 30px;
}

.text {
    font-size: 30px;
    width: 33%;
}