.block {
    width: 1200px;
    height: 150px;
    margin: 10px auto;
}

.one {
    background-color: #cdc9c9;
}

.two {
    background-color: aquamarine;
}

.three {
    background-color: #eccba3;
}

.four {
    background-color: #bab4ad;
}


.parent {
    display: flex;
}

.child {
    padding: 20px;
    border: 1px solid #ddd;
    margin: 10px;
    text-align: justify;
    height: 225px;
    width: 318px;
}